SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080
SERVER_URL=https://fileshare.kci.local
ENVIRONMENT=development
LOG_LEVEL=info

# DATABASE_URL=libsql://your-turso-db.turso.io
DATABASE_URL=./data/fileshare.db
SESSION_SECRET=replace-with-strong-random-secret
JWT_SECRET=replace-with-strong-random-secret

MAILGUN_API_KEY=replace-with-mailgun-api-key
MAILGUN_DOMAIN=replace-with-mailgun-domain
MAILGUN_FROM_EMAIL=replace-with-mailgun-from-email

AWS_ACCESS_KEY_ID=fileshare
AWS_SECRET_ACCESS_KEY=fileshare123
AWS_REGION=us-east-1
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=fileshare-uploads
S3_FORCE_PATH_STYLE=true

FILESHARE_USER_EMAIL="admin-user@test.com"
FILESHARE_USER_PASSWORD="admin-user-passwrod"

# FILESHARE_BRANDING=Company Inc."
# FILESHARE_LOGO="base64-encoded-logo or URL"
# FILESHARE_LOGO_HERO="base64-encoded-logo or URL"
# FILESHARE_FAVICON="base64-encoded-logo or URL"
