# Logs
*.log

# dotenv environment variables file
.env
.env.*
.autoenv.zsh

# tmp, system and ref files
tmp/
_tmp/
.DS_Store
/trees/
/.tickets/
/.tickets
/data/

# Editor
Session.vim

# Added by goreleaser init:
/dist/

# Samples

# devcontainers (for now)
/.devcontainer/

# plans
/docs/plan/

# Build artifacts
/fileshare
/fileshare-linux-amd64

# Frontend deps
node_modules/
