{{define "user_sent_content"}}
{{template "shared_files_content" .}}
{{end}}

{{define "user_sent_share_content"}}
{{template "share_detail_content" .}}
{{end}}

{{define "user_file_content"}}
{{template "user_file_detail_content" .}}
{{end}}

{{define "user_received_content"}}
{{template "shared_files_content" .}}
{{end}}

{{define "user_received_share_content"}}
{{template "share_detail_content" .}}
{{end}}

{{define "user_clients_content"}}
{{template "clients_management_content" .}}
{{end}}

{{define "user_client_groups_content"}}
{{template "client_groups_management_content" .}}
{{end}}

{{define "user_client_group_content"}}
{{template "client_group_detail_content" .}}
{{end}}

{{define "user_client_edit_content"}}
{{template "client_edit_content" .}}
{{end}}
