{{define "app_sidebar"}}
<ul
  class="menu w-72 gap-2 rounded-none bg-base-100 p-2 text-base-content min-h-full sidebar-menu"
>
  {{range .SidebarActions}}
  <li>
    <a
      href="{{.Path}}"
      class="sidebar-link{{if .Active}} sidebar-link-active{{end}}"
    >
      <span class="sidebar-icon">
        {{if eq .Icon "home"}}<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75"
          /></svg
        >{{end}} {{if eq .Icon "user-circle"}}<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275"
          /></svg
        >{{end}} {{if eq .Icon "arrow-up-tray"}}<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-12-9 3-3m0 0 3 3m-3-3V15"
          /></svg
        >{{end}} {{if eq .Icon "paper-airplane"}}<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
          /></svg
        >{{end}} {{if eq .Icon "inbox"}}<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M20.25 7.5v10.125c0 1.243-1.007 2.25-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V7.5m16.5 0A2.25 2.25 0 0 0 18 5.25H6A2.25 2.25 0 0 0 3.75 7.5m16.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-1 .6a2.25 2.25 0 0 1-1.16.32H6.98a2.25 2.25 0 0 1-1.16-.32l-1-.6a2.25 2.25 0 0 1-1.07-1.916V7.5"
          /></svg
        >{{end}} {{if eq .Icon "users"}}<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M18 18.72a9.094 9.094 0 0 0 3.742-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.204-.576-5.963-1.584A5.09 5.09 0 0 1 6 18.75c0-1.019.157-2.002.447-2.925m11.553 2.895a5.953 5.953 0 0 0-1.447-2.895M6.447 15.825a5.966 5.966 0 0 0-1.447 2.895m0 0a9.094 9.094 0 0 1-3.742-.479 3 3 0 0 1 4.682-2.72m.94 3.198a5.953 5.953 0 0 1 1.447-2.895m6.406-2.362a3 3 0 1 1-4.242 0 3 3 0 0 1 4.242 0Zm-6.406 0a3 3 0 1 1-4.242 0 3 3 0 0 1 4.242 0Z"
          /></svg
        >{{end}} {{if eq .Icon "shield-check"}}<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9 12.75 2.25 2.25L15 9.75m6 2.25c0 5.385-3.657 10.032-8.64 11.327a.75.75 0 0 1-.72 0C6.657 22.032 3 17.385 3 12V5.904a.75.75 0 0 1 .513-.711l7.5-2.5a.75.75 0 0 1 .474 0l7.5 2.5A.75.75 0 0 1 21 5.904V12Z"
          /></svg
        >{{end}}
      </span>
      <span class="sidebar-text-wrap"
        ><span class="sidebar-label">{{.Label}}</span
        ><span class="sidebar-meta">{{.Description}}</span></span
      >
    </a>
  </li>
  {{end}}
</ul>
{{end}}
